body {
  margin: 0;
  padding: 15px 20px;
  font-family: "Roboto", sans-serif;
}

body * {
  display: flex;
}

.container {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  min-width: 600px;
  min-height: 570px;
}

.logo {
  align-items: center;
}

.logo__img {
  height: 60px;
}

.logo__text {
  font-family: "Concert One", cursive;
  font-size: 0.75em;
}

.footer {
  height: 60px;
  justify-content: center;
}

.copyright {
  font-family: "Concert One", cursive;
  align-items: center;
}
